
<div class="container mt-3">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="set1">Set1</label>
        <input
          type="text"
          class="form-control"
          id="set1"
          required
          [(ngModel)]="set1"
          name="set1"

        />
      </div>

      <div class="form-group">
        <label for="set2">Set2</label>
        <input
          class="form-control"
          id="set2"
          required
          [(ngModel)]="set2"
          name="set2"
        />
      </div>

      <button (click)="merge()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>The merged set</h4>
      {{mergedSet}}
    </div>
  </div>
</div>
